* {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
}

body {
    /*background-image: linear-gradient(to bottom, #656e6f, #232323);*/
    /*background-attachment: fixed;*/
    background-color: #233133;
    color: white;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}

h1 {
    font-size: 60pt;
    text-shadow: white 1px 1px;
    color: #d94d4d;
    margin: 40px auto;
    font-weight: bold;
}

.button {
    font-size: 24pt;
    background-color: black;
    display: inline-block;
    width: 200px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    transition: 0.25s;
}

.button:hover {
    background-color: #d94d4d;
}

h2 {
    font-size: 32pt;
    margin-bottom: 0;
}

ul {
    display: inline-block;
    margin-bottom: 40px;
}

li {
    text-align: left;
}